
* {
  box-sizing: border-box;
}

body {
  background-color: #D2DBDC;
  margin: 0;
  font-family:'Segoe UI', HelveticaNeue, Hervetica, Lucida Grande, Arial;
  overflow: hidden;
  user-select: none;
}

.App {
  height: 100vh;
  background-color: #EDEDED;
  display: flex;
}